/* 
========================================= 
========================================= 

Main style

========================================= 
========================================= */
/*
*
* =====================
* GENERAL Style
* =====================
*
*/
*{
	font-family: 'Montserrat', 'AdobeInvisFont', 'MyriadPro-Regular';
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
  }
button , a{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	text-decoration: none;
	color: #000
}
a:hover{
	text-decoration: none;
	color: #000
}
button{
	background: none;
	border: none
}

/*
*
* =====================
* Start Header & Slider Section
* =====================
*
*/
.Banner .Header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5
}
.Banner .Header .row{
	padding-top: 30px;
	padding-bottom: 30px;
}
.Banner .Header .row >div:first-of-type a{
	margin-right: 10px
}
.Banner .Header .row >div:last-of-type a{
	margin-left: 10px
}
.Banner .Header .icons .fa-suitcase{
	position: relative;
	right: 0
}
.Banner .Header .icons a span{
	position: absolute;
	bottom: -4px;
    right: 7px;
    padding: 1px 5px;
    border-radius: 50%;
    background: #000;
    color: #FFF;
    height: auto;
    width: auto;
    font-size: 10px;
    text-align: center;
}
.navbar{
	border-top: 1px solid #d4d4d4
}
.navbar .nav-link{
	color: #444 !important
}
.carousel img{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100% ;
}
.Banner .carousel h5{
	font-size: 56pt;
	color: rgba(22, 25, 24, 255);
}
.Banner .carousel p{
	font-size: 13pt;
	color: rgba(127, 127, 127, 255)
}
.Banner .carousel a{
	color: #FFF
}
.Banner .carousel button{
	background: #000;
	height: 56px;
	width: 194px;
	margin-top: 47px;
	font-size: 11pt;
}
.Banner .carousel button:hover{
	background: #FFF;
}
.Banner .carousel button:hover a{
	color: #000
}
.Banner .carousel .carousel-control-next ,
.Banner .carousel .carousel-control-prev{
    width: 45px;
    height: 45px;
    border: 2px solid #FFF;
    border-radius: 50%;
    top: 50%;
	opacity: 1
} 
.Banner .carousel .carousel-control-next:hover ,
.Banner .carousel .carousel-control-prev:hover{
	background: rgba(0,0,0,.7)
}
.Banner .carousel a span{
	opacity: .7
}
.Banner .carousel .carousel-control-next{
  	right: 20px
} 
.Banner .carousel .carousel-control-prev{
  	left: 20px
} 
.Banner .carousel .carousel-indicators{
	-webkit-justify-content: flex-start !important;
	-moz-justify-content: flex-start !important;
	-o-justify-content: flex-start !important;
	justify-content: flex-start !important
}
.Banner .carousel .carousel-indicators li{
	height: 10px;
	width: 10px;
	background: rgba(255,255,255,.8)
}
.Banner .carousel .carousel-indicators .active{
	background: rgba(0,0,0,.8)
}
.Banner .carousel .carousel-caption{
	text-align: left !important ;
	bottom: 20% !important
}
/*
*
Media Query
*/

@media (max-width:991px) and (min-width:768px){
	.Banner .carousel .carousel-caption{
		bottom: 30px !important
}
	.Banner .carousel button{
		margin-top: 15px;
		height: 50px;
		width: 150px;
}
}
@media (max-width:767px) {
	.search-justify{
		border-bottom: 1px solid #d4d4d4 ;
		margin-bottom: 20px ;
		padding-bottom: 20px
	}
	.search-justify .fa-search{
		float: right
	}
	.Banner .carousel .carousel-control-next ,
	.Banner .carousel .carousel-control-prev{
		display: none
	}
	.carousel img{
		height: 100vh
	}
	.navbar{
		background: rgba(234, 234, 234, 0.9);
		z-index: 99
	}
	.collapse .icons .fa-suitcase{
		float: right
	}
	.collapse .icons a span{
		bottom: 7px !important
	}
	.Banner .carousel .carousel-indicators {
		z-index: 3
	}
}

/*
*
* =====================
* Start Description Section
* =====================
*
*/
.description{
	padding-top: 60px;
	padding-bottom: 60px;
}
.description h3{
	color: rgba(0,0,0,255);
	font-size: 14pt ;
	margin-top: 20px;
	margin-bottom: 20px
}
.description p{
	font-size: 13pt;
	color: rgba(146, 146, 146, 255);
}

/*
*
* =====================
* Start Portofolio Section
* =====================
*
*/
.portofolio{
	padding-top: 60px;
	padding-bottom: 30px
}
.portofolio img{
 	position: relative;
	margin-bottom: 20px
}
.portofolio button{
    margin-bottom: 30px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 63px;
    width: 251px;
    background: #FFF;
}
.portofolio button:hover{
	background: #000;
}
.portofolio button:hover a{
	color: #FFF
}
@media (min-width: 992px) and (max-width: 1020px) {
	.portofolio button{
	left: 48%
	}
}
/*
*
* =====================
* Start Top Trending Section
* =====================
*
*/
.top-trending{
	font-family: 'Montserrat';
	font-weight: 400;
	padding-top: 40px;
	padding-bottom: 40px
}
.top-trending h2{
	color: rgba(22, 25, 24, 255);
}
.top-trending hr{
	width: 90px;
    border-top: 1px solid #cfcfcf;
	margin-bottom: 30px
}
.top-trending .p{
	font-size: 13pt;
	color: rgba(146, 146, 146, 255);
	width: 70%;
	margin: auto auto 40px
}
.top-trending ul{
	list-style: none;
	padding: 0;
	margin: 0 0 60px;
}
.top-trending ul li{
	display: inline-block;
	padding: 10px 15px;
	text-align: center;
	cursor: pointer;
	font-size: 12pt;
	margin-right: 15px;
	position: relative
}
.top-trending ul li:not(.inactive){
	background-color: #292929;
	color: #c2c2c2;
}
.top-trending ul .inactive{
	background: #EEE;
	color: #000
}
.top-trending ul .inactive:after{
	border-color: #EEE transparent transparent;
}
.top-trending ul li:after{
	content: "";
	position: absolute;
	border-width: 13px;
    border-style: solid;
    border-color: #292929 transparent transparent;
    top: 100%;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	transform: translate(-50%,0);
}
.sub-main{
	padding-top: 20px;
	padding-bottom: 40px
}
.top-trending .content:not(:first-of-type){
  	display: none
}
.sub-main span{
	color: #8888;
	font-weight: 400;
	font-family: 'Open Sans';
	font-size: 13px;
	margin-right: 20px
}
.top-trending button a{
	color: #FFF
}
.top-trending .overlay{
	width: 100%
}
.top-trending img{
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1
}
.top-trending .overlay {
	position: relative
}

.top-trending .overlay a{
	display: block;
	position: relative;
	background: rgba(246,246,246,.4);
	width: 100%;
	height: 300px;
	z-index: 33
}
.top-trending .overlay .hover1 ,
.top-trending .overlay .hover2{
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 99
}
.top-trending .overlay .hover1 {
	bottom: 50px
}
.top-trending .overlay .hover2{
	bottom: 0
}
.top-trending .overlay .hover1 a,
.top-trending .overlay .hover2 a{
	opacity: 0;
	height: 39px;
	width: 159px;
	line-height: 39px
}
.top-trending .product:hover .overlay .hover1 a,
.top-trending .product:hover .overlay .hover2 a{
	opacity: 1;
	font-size: 11pt
}
.top-trending .color{
    display: none;
	margin: auto
}
.top-trending .static{
     display: block
}
.top-trending .color span{
    height: 20px;
	width: 20px;
	margin-right: 5px;
	display: inline-block
}
.top-trending .color span:first-of-type{
    background: #efacac
}
.top-trending .color span:nth-of-type(2){
    background: #edd9a2
}
.top-trending .color span:nth-of-type(3){
    background: #b0dfb8
}
.top-trending .color span:nth-of-type(4){
    background: #b7cdd4
}
.top-trending .color span:hover{
    height: 23px;
	width: 23px;
}
.top-trending .overlay .hover1 a{
	background: rgba(0,0,0,.8);
	color: #FFF;
}
.top-trending .overlay .hover2 a{
	background: rgba(255,255,255,.8);
	color: #000;
}
.top-trending .product:hover .overlay .img-over{
	background: rgba(197,197,197,.5);
}
.top-trending .product:hover .static{
     display: none
}
.top-trending .product:hover .color{
     display: block
}
.top-trending h4{
	font-size: 14px;
	color: rgba(22, 25, 24, 255);
}
.top-trending .content p{
	font-size: 16pt;
	color: rgba(146, 146, 146, 255);
}
.top-trending small{
	color: rgba(146, 146, 146, 255);
	text-decoration: line-through;
	font-size: 9pt
}
.top-trending .new ,
.top-trending .sale{
	position: absolute;
    top: 10px;
    z-index: 999;
    padding: 2px 5px;
    color: #FFF;
}
.top-trending .new{
	right: 25px;
	background: #000;
}
.top-trending .sale{
	left: 25px;
	background: #c55353;
}
.top-trending .rows , 
.top-trending .rows .content{
	width: 100%
}
.top-trending .rows .product{
	padding-left: 15px;
	padding-bottom: 15px;
	float: left;
	margin-top: 20px
}
.top-trending .buton{
	margin: auto 30px auto 30px;
	background: #000;
	font-size: 14px;
	padding: 12px 25px;
	font-weight: 700;
	-webkit-box-shadow: 1px 1px 2px #ccc , -1px -1px 2px #ccc;
	-moz-box-shadow: 1px 1px 2px #ccc , -1px -1px 2px #ccc;
	-o-box-shadow: 1px 1px 2px #ccc , -1px -1px 2px #ccc;
	box-shadow: 1px 1px 2px #ccc , -1px -1px 2px #ccc;
	margin-bottom: 40px
}
.top-trending .buton a{
	color: #FFF
}
.top-trending .buton:hover{
	background: #fff
}
.top-trending .buton:hover a{
	color: #000
}
/*// Extra Small devices (tablets, 768px and up)*/
@media (max-width: 575px) {
	.top-trending .rows .product{
		width: 100%
	}
	.top-trending ul li{
		width: 70%;
		margin-bottom: 30px
	}
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px){ 
	.top-trending .rows .product{
		width: calc(100% / 2)
	}
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
	.top-trending .rows .product{
		width: calc(100% / 2)
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
	.top-trending .rows .product{
		width: calc(100% / 3)
	}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	.top-trending .rows .product{
		width: calc(100% / 5)
	}
}

/*
*
* =====================
* Start Products Section
* =====================
*
*/
.products{
	margin-top: 30px;
	margin-bottom: 20px
}
.products .row div:first-of-type{
	padding: 0
}
.products .row div:last-of-type{
	padding: 120px 80px;
	background: #fafafa;
}
.products h2{
	color: rgba(22, 25, 24, 255);
}
.products hr{
	width: 60px
}
.products p{
	font-size: 9pt;
	color: rgba(146, 146, 146, 255);
	margin: 30px auto 60px
}
.products button a{
	font-size: 11pt;
	color: rgba(0, 0, 0, 255);
	border: 1px solid #000;
    padding: 12px 20px;

}
.products button a:hover{
	color: #fafafa;
	background: #000
}

/*
*
* =====================
* Start Partners Section
* =====================
*
*/
.partners{
    padding-top: 10px
}
.partners img{
	margin-bottom: 20px;
}

/*
*
* =====================
* Start Products Section
* =====================
*
*/
.insta .container-fluid{
    padding: 0
}
.insta p{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 22;
	font-family: 'Montserrat';
    font-size: 42pt;
    color: rgba(255, 255, 255, 255);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.insta .images{
	position: relative;
	width: 100%;
	height: 180px;
	z-index: -1
}
.insta img{
	width: calc(100% / 6);
	height: 180px;
	float: left
}	
/*
*
* =====================
* Start Map Section
* =====================
*
*/
.map{
    background: url('../img/Map.png')fixed ;
	padding-top: 100px;
	padding-bottom: 100px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.map .box{
     font-family:  'Montserrat';
     font-size: 11pt;
	padding: 40px;
     color: rgba(1, 1, 1, 255);
     text-align: left;
	background: #FFF;
	-webkit-box-shadow: 1px 1px 2px #AAA , -1px -1px 2px #AAA;
	-moz-box-shadow: 1px 1px 2px #AAA , -1px -1px 2px #AAA;
	-o-box-shadow: 1px 1px 2px #AAA , -1px -1px 2px #AAA;
	box-shadow: 1px 1px 2px #AAA , -1px -1px 2px #AAA;
}
/*
*
* =====================
* Footer Section
* =====================
*
*/
footer{
     font-family:  'Montserrat';
     padding-top: 30px;
	 padding-bottom: 60px;
	background: #fafafa
}
footer img{
     margin-top: 35px
}
footer p{
    font-size: 12pt;
    color: rgba(146, 146, 146, 255);
    text-align: left;
	margin-top: 47px;
	margin-bottom: 37px;
	padding-right: 30px
}
footer h3{
	margin-top: 35px;
    margin-bottom: 37px;
	font-size: 15pt;
    color: rgba(0, 0, 0, 255);
}
footer .social a{
	display: inline-block;
    height: 35px;
	width: 35px;
	border-radius: 50%;
	background: #e9e9e9;
	color: #929292;
	margin-right: 10px;
	line-height: 35px;
	text-align: center
}
footer .social a:hover{
    background: #929292;
	color: #e9e9e9 ;
}
footer form{
    margin-top: 30px;
	position: relative
}
footer form input[type='text']{
    width: 100%;
	padding: 10px ;
	border:1px solid #dfdfdf
}
footer form input[type='submit']{
    position: absolute;
	right: 0;
	top: 0;
	background: transparent;
	border: none;
	padding: 10px;
	cursor: pointer
}
footer ul li a{
    font-size: 11pt;
    color: rgba(146, 146, 146, 255);
}
/*
*
* =====================
* Footer Section
* =====================
*
*/
.copyright{
    background: #1e1b1b;
	padding-top: 10px;
	padding-bottom: 0;
	font-family: 'Montserrat';
	font-size: 11pt;
    color: rgba(149, 148, 148, 255);
}
.copyright p{
    padding-top: 10px;
}